*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #252636;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.15;
}

.dashboard {
  padding: 20px;
}

.page__notfound {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  height: 100vh;
}

.menu-icon {
  position: fixed;
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #dadae3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #313347;
}

.header__navbar {
  margin-left: 6px;
}

.header__navbar > i {
  cursor: pointer;
}

.header__navbar--logout a,
.header__navbar--logout a:hover,
.header__navbar--logout a:focus,
.header__navbar--logout a:visited,
.header__navbar--logout a:active {
  color: #ffffff;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
  background-color: #252636;
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
}

.sidenav.active {
  transform: translateX(0);
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.sidenav__logo {
  display: flex;
  margin: 0 auto;
  width: 92%;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.sidenav__list {
  padding: 0;
  list-style-type: none;
}

.sidenav__list li a p {
  margin: 0;
  padding: 0;
}

.sidebar-mini .sidenav {
  width: 80px;
}

.sidebar-mini > .grid-container {
  grid-template-columns: 80px 1fr;
  grid-template-areas:
    "sidenav navbar"
    "sidenav main"
    "sidenav footer";
}

.sidebar-mini .sidenav:hover {
  width: 240px;
}

.sidebar-mini .sidenav:hover .sidenav__list-item > a {
  justify-content: flex-start;
}

.sidebar-mini .sidenav:hover .sidenav__list li a p {
  display: flex;
  opacity: 1;
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
}

.sidebar-mini .sidenav:hover .sidenav__list li a i {
  display: flex;
  margin-right: 12px;
}

.sidebar-mini .sidenav .sidenav__list li a p {
  display: none;
  opacity: 0;
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
}

.sidebar-mini .sidenav .sidenav__list li a i {
  margin: 0;
}

.sidebar-mini .sidenav .sidenav__list li a {
  justify-content: center;
}

.sidenav__list-item {
  color: #ddd;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidenav__list-item > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  margin: 10px 15px 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  padding: 10px 8px;
}

.sidenav__list-item > a i {
  margin-right: 12px;
  font-size: 1.7em;
}

.main {
  grid-area: main;
  background-color: #2a2b3d;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #e3e4e6;
  color: slategray;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #313347;
  margin: 20px;
  padding: 24px;
  box-sizing: border-box;
}

.card .card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 2px;
}

.card .card__body {
  width: 100%;
  margin: 5px 0;
  padding: 10px 2px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #313347;
}

table {
  width: 100%;
  border-spacing: inherit;
}

table thead th {
  text-align: left;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

table tbody td {
  padding: 10px 2px;
  border-top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

table tbody td.table__empty {
  text-align: center;
}

table tbody td a {
  text-decoration: none;
}

table tbody td a,
table tbody td a:visited,
table tbody td a:active,
table tbody td a:focus {
  color: #ffffff;
}

table tbody td form {
  display: inline-flex;
}

table tbody td i {
  margin-right: 15px;
}

.form__input {
  padding: 2px 2px 20px 2px;
  float: left;
}

.form__input label {
  font-size: 14px;
}

.form__address,
.form_footer {
  clear: both;
}

.form__address::after {
  content: "";
  display: table;
  clear: both;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 14px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #ccc;
}

button.btn__remove--address {
  background-color: transparent;
  padding: 0;
  position: absolute;
  margin-left: 120px;
  margin-top: 2px;
}
.btn__add--address {
  margin-left: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button[type="submit"].btn__submit {
  margin: 0;
  font-size: 15px;
  text-transform: initial;
  background: none;
  padding: 0px;
  border: none;
}

button[type="submit"] {
  text-transform: uppercase;
}

button:hover,
a.btn__create:hover {
  opacity: 0.8;
}

a.btn {
  font: 400 13.3333px Arial;
  display: inline-flex;
  align-items: center;
  padding: 6px 20px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 1px;
  cursor: pointer;
}

.btn__back {
  background-color: #00bcd6;
  margin-left: 10px;
}

a.btn__create {
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 22px;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #4caf50;
  border-radius: 1px;
  cursor: pointer;
}

@media only screen and (min-width: 46.875em) {
  .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav navbar"
      "sidenav main"
      "sidenav footer";
  }

  .header__navbar {
    margin-left: 0;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
  }
}

@media only screen and (min-width: 65.625em) {
  .main-cards {
    column-count: 2;
  }
}

@media (max-width: 46.874em) {
  .sidebar-mini > .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav navbar"
      "sidenav main"
      "sidenav footer";
  }
  .grid-container {
    grid-template-columns: 0px 1fr;
    grid-template-areas:
      "sidenav navbar"
      "sidenav main"
      "sidenav footer";
  }

  .sidebar-mini .sidenav {
    width: 240px;
    transform: translateX(0px);
  }

  .sidenav {
    flex-direction: row;
  }

  .sidebar-mini .sidenav .sidenav__list,
  .sidenav .sidenav__list {
    width: 100% !important;
  }

  .sidebar-mini .sidenav .sidenav__list li a,
  .sidenav .sidenav__list li a {
    justify-content: left !important;
  }

  .sidebar-mini .sidenav .sidenav__list li a p {
    display: flex;
    opacity: 1;
  }

  .sidebar-mini .sidenav .sidenav__list li a i {
    margin-right: 12px;
  }
}
