@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #252636;
    color: #ffffff;
}

.content {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    border: 1px solid rgba(255, 255, 255, .3);
    width: 400px;
    height: auto;
    padding: 13px 26px 26px;
    background-color: #313347;
}

.login header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    font-weight: 700;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    margin-bottom: 28px;
}

.form__input {
    padding-top: 2px;
    padding-bottom: 20px;
}

.form__input label {
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 14px;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type="submit"] {
    text-transform: uppercase;
}

button:hover {
    opacity: 0.8;
}